.mat-card-header {
  color: var(--gray);
  font-weight: 500;
  font-size: 1rem;
}

.activity-log-time {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--dark);
}

.mat-list-icon {
  color: var(--gray);
}
