<app-sidenav></app-sidenav>
<!--<img src="assets/default-profile-picture.jpg" class="profile-picture" alt="profile-picture"/>-->
<!--<div class="container" style="margin-top: -20px">-->
<!--  <div class="row">-->
<!--  </div>-->
<!--</div>-->
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Account">
    <div style="margin: 1rem auto 1rem auto; width: 30rem">
      <app-profile-data></app-profile-data>
    </div>
  </mat-tab>
  <mat-tab label="Password"> Content 2</mat-tab>
  <mat-tab label="Credit card"> Content 3</mat-tab>
</mat-tab-group>
