<mat-card class="dashboard-card">
  <mat-card-header>Favorite routes</mat-card-header>
  <mat-card-content class="scrollable" *ngIf="favorites.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let favorite of favorites">
        <mat-icon mat-list-icon>route</mat-icon>
        <div mat-line><span class="route-name">{{favorite.name}}</span></div>
        <div mat-line><span class="start-end">{{favorite.start}} - {{favorite.destination}}</span></div>
        <mat-icon style="color: var(--yellow)" [matTooltip]="'Remove from favorites'" [matTooltipPosition]="'below'">
          favorite
        </mat-icon>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-content *ngIf="favorites.length === 0" style="text-align: center;">
    <img src="assets/no-favorites.png" style="height: 250px" alt="no-favorites">
  </mat-card-content>
</mat-card>
