<mat-card>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Credit card number</mat-label>
      <input matInput [ngModel]="creditCardNumber" maxlength="16" placeholder="Ex. 1111 1111 1111 1111">
      <mat-hint align="end">{{creditCardNumber.length}} / 16</mat-hint>
      <mat-error *ngIf="creditCardNumberFormControl.hasError('minLength') || creditCardNumberFormControl.hasError('maxLength')">
        Credit card number password needs <strong>16 digits</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Expiration date</mat-label>
      <input matInput [ngModel]="expirationDate" maxlength="5" placeholder="MM/YY">
      <mat-hint align="end">{{expirationDate.length}} / 5</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CVV</mat-label>
      <input matInput [ngModel]="CVV" maxlength="3" placeholder="Ex. 111">
      <mat-hint align="end">{{CVV.length}} / 3</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="primary" style="width: 100%">Save credit card data</button>
  </mat-card-content>
</mat-card>
