<mat-card class="dashboard-card">
<mat-card-header>Upcoming rides</mat-card-header>
  <mat-card-content class="scrollable" *ngIf="rides.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let ride of rides">
        <mat-icon mat-list-icon>timer</mat-icon>
        <div mat-line>
          <span class="route-name">{{ride.time}}</span>
          <span class="time-left"> &nbsp;&nbsp; {{ride.timeLeft}} left</span>
        </div>
        <div mat-line> {{ride.start}} - {{ride.destination}} </div>
        <div mat-line *ngIf="ride.friends.length>0">
          <mat-chip-list style="display: inline-flex" aria-label="Friends" *ngFor="let friend of ride.friends">
            <mat-chip>
              <img matChipAvatar [src]="friend.photo"
                   alt="avatar"/>
              {{friend.name}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-content *ngIf="rides.length == 0" style="text-align: center;">
    <img src="assets/no-reservations.png" style="height: 250px" alt="no-reservations">
  </mat-card-content>
</mat-card>
