.mat-list-icon {
  color: var(--gray);
}

.mat-card-header {
  color: var(--gray);
  font-weight: 500;
  font-size: 1rem;
}

.route-name {
  font-weight: 500;
  font-size: 14px;
}

.start-end {
  font-size: 12px;
}

mat-chip {
  font-size: 12px;
}

.mat-chip.mat-standard-chip {
  background-color: #fff;
}

.time-left {
  color: var(--gray);
  font-weight: 400;
  font-size: 12px;
}
