<mat-card class="dashboard-card">
  <mat-card-title>Upcoming rides</mat-card-title>
  <mat-card-subtitle>You can reserve a car up to 5 hours in advance.</mat-card-subtitle>
  <mat-card-content class="scrollable" *ngIf="display">
    <mat-list-item>
      <div matListItemLine>
        <span class="route-name">{{arriveTime}}</span>
        <span class="time-left"> &nbsp;&nbsp;{{timeLeft}} minutes left</span>
      </div>
      <div matListItemLine> {{start}} - {{destination}} </div>
      <div matListItemLine *ngIf="friends!==undefined && friends.length>0">
        <mat-chip-listbox style="display: inline-flex" aria-label="Friends" *ngFor="let friend of friends">
          <mat-chip>
            <img matChipAvatar [src]="photo"
                 alt="avatar"/>
            {{friend}}
          </mat-chip>
        </mat-chip-listbox>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-card-content>
  <mat-card-content *ngIf="!display" style="text-align: center">
    <img src="assets/no-reservations.png" style="height: 250px" alt="no-reservations">
  </mat-card-content>
</mat-card>
