<div class="message__outer">
  <div *ngIf="isSentByTheUser">
    <div class="left message" [ngClass]="{'smaller-message-width': !isUserAdmin}" [matTooltip]="message.time" [matTooltipPosition]="'right'">{{message.content}}</div>
  </div>
  <div class="message__inner" *ngIf="!isSentByTheUser">
    <div class="right message" [ngClass]="{'smaller-message-width': !isUserAdmin}" style="overflow-wrap: break-word; max-width: 300px; word-break: break-word" [matTooltip]="message.time" [matTooltipPosition]="'left'">{{message.content}}</div>
  </div>
</div>
