.left {
  background-color: var(--blue);
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

.right {
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 14px;
}

.message-tooltip {
  font-size: 10px;
  font-weight: 500;
}

.right-message {
  margin-right: 0;
}

.message__outer {
  display: flex;
}

.message__inner {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.message {
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 300px;
}

.smaller-message-width {
  max-width: 150px;
}
