<mat-card>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Enter your current password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your new password</mat-label>
      <input matInput [type]="hide1 ? 'password' : 'text'" [ngModel]="password1" [formControl]="password1FormControl">
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password1FormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="password1FormControl.hasError('minlength')  && !password1FormControl.hasError('required')">
        Password has to be <strong>at least 6 characters long</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Re-enter your new password</mat-label>
      <input matInput [type]="hide2 ? 'password' : 'text'" [ngModel]="password2" [formControl]="password2FormControl">
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password2FormControl.hasError('required')">
        Re-entered password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="password1 !== password2">
        Passwords are not the same
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" style="width: 100%">Change password</button>
  </mat-card-content>
</mat-card>
