<mat-card style="padding: 30px; border-radius: 20px;">
  <mat-card-content>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Enter your current password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Enter your new password</mat-label>
      <input matInput [type]="hide1 ? 'password1' : 'text'" [formControl]="newPasswordFormControl" [(ngModel)]="password1">
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="newPasswordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Re-enter your new password</mat-label>
      <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="passwordFormControl" [(ngModel)]="password2">
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="newPassword2FormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" style="width: 100%; margin-top: -20px;">Change password</button>
  </mat-card-content>
</mat-card>
