h1 {
  font-size: 30px;
  color: white;
  text-shadow: #4b5257;
}

h2 {
  color: var(--yellow);
  font-weight: 700;
  font-size: 120px;
  padding: 50px;
}

.not-found-page-container {
  text-align: center;
  margin: auto;
  padding: 100px;
  width: 80%;
}

.navigation {
  background-image: url("../../../../assets/navigation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100%;
}
