<mat-toolbar class="navbar">
  <span>
    <img class="logo" src="assets/logo.png" alt="logo"/>
  </span>
  <span class="example-spacer"></span>
  <button mat-button *ngIf="user.role=='CUSTOMER'">
    <span class="number-of-tokens">{{numberOfTokens}} </span>
    <mat-icon class="token">monetization_on</mat-icon>
  </button>
  <button *ngIf="user.role=='CUSTOMER'" mat-icon-button>
    <mat-icon matBadge="15">notifications</mat-icon>
  </button>
  <button *ngIf="user.role=='CUSTOMER'" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon matBadge="15">help</mat-icon>
  </button>
  <img src="assets/taxi.jpg" class="avatar" style="margin-left: 20px; margin-right: 10px;" alt="avatar"/>
  <p class="name" (click)="navigate('/profile')">{{user.name}} {{user.surname}}</p>
</mat-toolbar>

<div class="sidebar" [ngClass]="{ 'active': isActive }">
  <div class="logo_content">
    <i class="bx bx-menu" (click)="toggle()" id="menu-btn"></i>
  </div>
  <ul>
    <li>
      <a (click)="navigate('/dashboard')" [ngClass]="{ 'currentPage': currentPage == 'dashboard' }">
        <mat-icon>dashboard</mat-icon>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a (click)="navigate('/map')" [ngClass]="{ 'currentPage': currentPage == 'map' }">
        <mat-icon>location_pin</mat-icon>
        <span class="links_name">Map</span>
      </a>
      <span class="tooltip">Map</span>
    </li>
    <li>
      <a [ngClass]="{ 'currentPage': currentPage == 'analytics' }">
        <mat-icon>query_stats</mat-icon>
        <span class="links_name">Analytics</span>
      </a>
      <span class="tooltip">Analytics</span>
    </li>
    <li>
      <a (click)="navigate('/profile')" [ngClass]="{ 'currentPage': currentPage == 'profile' }">
        <mat-icon>person</mat-icon>
        <span class="links_name">My Profile</span>
      </a>
      <span class="tooltip">My Profile</span>
    </li>
    <li *ngIf="user.role == 'ADMIN'">
      <a (click)="navigate('/chat')" [ngClass]="{ 'currentPage': currentPage == 'chat' }">
        <mat-icon>message</mat-icon>
        <span class="links_name">Messages</span>
      </a>
      <span class="tooltip">Messages</span>
    </li>
    <li *ngIf="user.role == 'ADMIN'">
      <a (click)="navigate('/rides')" [ngClass]="{ 'currentPage': currentPage == 'rides' }">
        <mat-icon>directions_car</mat-icon>
        <span class="links_name">Rides History</span>
      </a>
      <span class="tooltip">Rides History</span>
    </li>
    <li>
      <a (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="links_name">Log out</span>
      </a>
      <span class="tooltip">Log out</span>
    </li>
  </ul>
</div>

<mat-menu #menu="matMenu">
  <app-user-chat></app-user-chat>
</mat-menu>
