<h1 mat-dialog-title>Create new Restaurant</h1>
<div mat-dialog-content>
  <form class="example-container" [formGroup]="restaurantForm">
    <mat-form-field hintLabel="Max 20 characters" appearance="fill" class="form-field">
      <mat-label>Enter restaurant name</mat-label>
      <input [formControlName]="'name'" matInput #name1 maxlength="20" required>
      <mat-hint align="end">{{name1.value.length || 0}}/20</mat-hint>
      <mat-error *ngIf="restaurantForm.hasError('required', 'nameFormControl')">This field is required</mat-error>
      <mat-error *ngIf="restaurantForm.hasError('minLength', 'nameFormControl')">Name needs at least 3 characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="Max 20 characters" appearance="fill" class="form-field">
      <mat-label>Enter restaurant address</mat-label>
      <input [formControlName]="'address'" matInput #address1 maxlength="20" required>
      <mat-hint align="end">{{address1.value.length || 0}}/20</mat-hint>
      <mat-error *ngIf="restaurantForm.hasError('required', 'addressFormControl')">This field is required</mat-error>
      <mat-error *ngIf="restaurantForm.hasError('minLength', 'addressFormControl')">Address needs at least 3
        characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="Max 20 characters" class="form-field" appearance="fill">
      <mat-label>Enter restaurant phone number</mat-label>
      <input [formControlName]="'phone'" matInput #phone1 maxlength="20" required>
      <mat-hint align="end">{{phone1.value.length || 0}}/20</mat-hint>
      <mat-error *ngIf="restaurantForm.hasError('required', 'phoneFormControl')">This field is required</mat-error>
      <mat-error *ngIf="restaurantForm.hasError('minLength', 'phoneFormControl')">Phone needs at least 3 characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Enter your email</mat-label>
      <input [formControlName]="'email'" matInput placeholder="pat@example.com" required>
      <mat-error *ngIf="restaurantForm.hasError('required', 'emailFormControl')">This field is required</mat-error>
      <mat-error *ngIf="restaurantForm.hasError('email', 'emailFormControl')">Invalid email format</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" floatLabel="always" class="form-field">
      <mat-label>Delivery Rate</mat-label>
      <input [formControlName]="'deliveryRate'" matInput type="number" class="example-right-align" placeholder="0">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions style="margin-top: -15px; float: right">
  <button mat-button mat-dialog-close="">Cancel</button>
  <button mat-button mat-dialog-close="" [disabled]="!restaurantForm.valid" (click)="createRestaurant()">Create</button>
</div>
