<mat-card>
  <mat-card-content>
    <div style="text-align: center;">
      <img [src]="profileImageSrc" class="profile-picture" alt="profile-picture"/><br>
      <label class="new-profile-picture">
        New profile picture
        <input #fileUploader type="file" (input)="selectFile($event)" accept="image/png, image/jpeg"/>
      </label>
      <button mat-raised-button color="primary" style="margin: 10px 0 10px 10px" [disabled]="!hasSelectedFile" (click)="uploadProfileImage()">Save changes
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input matInput [formControl]="nameFormControl" [(ngModel)]="name">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your last name</mat-label>
      <input matInput [formControl]="lastNameFormControl" [(ngModel)]="lastName">
      <mat-error *ngIf="lastNameFormControl.hasError('required')">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput [(ngModel)]="email" disabled>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput type="tel" [(ngModel)]="phoneNumber" [formControl]="phoneFormControl"
             placeholder="Ex. +381 1234567">
      <mat-error *ngIf="phoneFormControl.hasError('required')">
        Phone number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter the city you live in</mat-label>
      <input matInput [formControl]="cityFormControl" [(ngModel)]="city">
      <mat-error *ngIf="cityFormControl.hasError('required')">
        City is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" style="width: 100%;" (click)="update()">Update Account Settings</button>
  </mat-card-content>
</mat-card>
