<app-sidenav currentPage="rides"></app-sidenav>
<div style="margin-left: 90px; margin-right: 10px">
  <div class="filter-container">
    <h1 style="font-weight: 400; margin-top: 20px">History of rides</h1>
    <p style="font-weight: 400; margin-top: -10px">Filter rides by driver or customer, and sort by any parameter.</p>

    <div class="search-part">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Driver</mat-label>
        <mat-select [(ngModel)]="driverEmail" (ngModelChange)="loadRides()">
          <mat-option *ngFor="let type of driversEmails" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Customer</mat-label>
        <mat-select [(ngModel)]="customerEmail" (ngModelChange)="loadRides()">
          <mat-option *ngFor="let type of customersEmails" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button>Clear</button>
    </div>
  </div>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="dataSource" matSort matSortActive="start" matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ride.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="route">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Route</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ride.route}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ride.price}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="start">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ride.start}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="end">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ride.end}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
      <mat-cell *matCellDef="let ride">
        <button (click)="detailsAboutRide(ride.id)" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>article</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <tr *matNoDataRow>
      <td>No data matching the filters</td>
    </tr>
  </mat-table>
  <mat-paginator [pageSize]="10"
                 [length]="dataSource.totalNumber$ | async"
                 showFirstLastButtons
                 [pageSizeOptions]="[1, 3, 5, 10]"></mat-paginator>
</div>
