.mat-column-profilePicture {
  width: 50px;
}

.mat-column-activity {
  width: 60px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
   padding-left: 5px !important;
}
