<mat-card class="destination-input">
  <mat-card-header>
    <span style="padding: 8px; font-weight: 500; margin-left: -30px; font-size: 16px">Directions</span>
    <div style="flex: 1">
      <div class="header-right">
        <button mat-stroked-button style="margin-right: 5px" (click)="clearInputFields()">Clear all</button>
        <button mat-stroked-button>
          <mat-icon (click)="addNewDestination()">add_location_alt</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content style="overflow-y:scroll; max-height: 300px; margin-top: 20px; margin-bottom: -10px">
    <mat-form-field appearance="outline" *ngFor="let destination of destinations; let i=index" [ngSwitch]="i"
                    style="width: 100%;">
      <mat-label *ngSwitchCase=0>From:</mat-label>
      <mat-label *ngSwitchCase=destinations.length-1>To:</mat-label>
      <mat-label *ngSwitchDefault>
        Stop {{i}}:
      </mat-label>
      <input matInput [name]="'dest' + i" [ngModel]="destinations[i].locationName"
             (ngModelChange)="setDestination($event, i)">
      <button mat-icon-button matSuffix (click)="removeDestination(i)">
        <mat-icon>
          location_off
        </mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
  <mat-form-field appearance="outline" style="width: 100%; padding-right:20px">
    <mat-label>Choose one</mat-label>
    <mat-select [ngModel]="carType" (ngModelChange)="changeCarType($event)">
      <mat-option *ngFor="let type of carTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-footer style="padding: 15px">
    <button mat-raised-button color="primary" style="width: 100%" (click)="showEstimates()">Search</button>
    <div *ngIf="estimatesPresented==true">
      <hr>
      <p> Estimated time: {{estimatedTime}}</p>
      <p> Estimated price: {{estimatedPrice}}</p>
      <p *ngIf="canOptimize" style="color: var(--dark)">Optimize by <span style="font-weight: 500; cursor: pointer"
                                                                          (click)="optimizeByPrice()">price</span> or
        <span style="font-weight: 500; cursor: pointer" (click)="optimizeByPrice()">time</span>.
      </p>
      <span style="align-content: center">
              <button mat-raised-button color="primary" style="width: 49%" (click)="requestRide()">Request ride</button>
              <button mat-stroked-button color="primary" style="width: 49%; float: right" (click)="reserveRide()">Reserve ride</button>
      </span>
    </div>
  </mat-card-footer>
</mat-card>
