<mat-card class="destination-input" *ngIf="!isActive">
  <mat-stepper labelPosition="bottom" [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Direction</ng-template>
      <div>
        <span style="font-weight: 500; font-size: 16px; margin-top: 30px">Direction</span>
        <div class="header-right">
          <button mat-stroked-button style="margin-right: 5px" (click)="clearInputFields()">Clear all</button>
          <button mat-stroked-button (click)="addNewDestination()">
            <mat-icon>add_location_alt</mat-icon>
          </button>
        </div>
      </div>
      <form [formGroup]="destinationsForm" (ngSubmit)="showEstimates()">
        <div
          style="overflow-y:scroll; max-height: 300px; margin-top: 20px; margin-bottom: -10px; margin-right: -20px; position: relative"
          formArrayName="destinations">
          <mat-form-field appearance="outline"
                          *ngFor="let destinationForm of destinationsForm.get('destinations')['controls']; let i=index"
                          [ngSwitch]="i"
                          style="width: 100%;">
            <mat-label *ngSwitchCase=0>From:</mat-label>
            <mat-label *ngSwitchCase=destinations.controls.length-1>To:</mat-label>
            <mat-label *ngSwitchDefault>
              Stop {{i}}:
            </mat-label>
            <input matInput [name]="'dest' + i" formControlName="{{i}}" id="fromInput">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <button mat-icon-button matSuffix *ngIf="destinations.controls.length>2" (click)="removeDestination(i)">
              <mat-icon>
                location_off
              </mat-icon>
            </button>
          </mat-form-field>

        </div>
        <div style="margin-top: 10px;">
          <button mat-raised-button color="primary" style="width: 100%" type="submit">Search</button>
          <p style="color: var(--dark); margin-top: 10px;">Optimize by <span
            style="font-weight: 500; cursor: pointer"
            (click)="optimizePrice()">price</span>
            or
            <span style="font-weight: 500; cursor: pointer" (click)="optimizeTime()">time</span>.
          </p>
        </div>
        <div>
          <button mat-raised-button color="primary" style="width: 100%" *ngIf="optimize==='price'"
                  (click)="selectOptimizedValue()">Select optimized by price
          </button>
          <button mat-raised-button color="primary" style="width: 100%" *ngIf="optimize==='time'"
                  (click)="selectOptimizedValue()">Select optimized by time
          </button>
        </div>
        <div>
          <button mat-button matStepperNext
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 20px">Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Car type" [stepControl]="secondFormGroup">
      <div>
        <span style="font-weight: 500; font-size: 16px; margin-top: 30px">Car type</span>
      </div>
      <mat-form-field appearance="outline" style="width: 100%; padding-right:20px; padding-top: 10px"
                      [formGroup]="carTypeFormGroup">
        <mat-label>Choose car type</mat-label>
        <mat-select formControlName="carType" (ngModelChange)="changeCarType()">
          <mat-option *ngFor="let type of carTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <section class="example-section">
        <p>
          <mat-checkbox color="primary" [(ngModel)]="hasChild">Children seats</mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="primary" [(ngModel)]="hasPet">Pets allowed</mat-checkbox>
        </p>
      </section>
      <form>
        <div>
          <button mat-button matStepperPrevious
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 90px">Back
          </button>
          <button mat-button matStepperNext
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 20px">Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Friends">
      <div>
        <span style="font-weight: 500; font-size: 16px; margin-top: 30px">Add people to split fare</span>
      </div>
      <span>
            <mat-form-field appearance="outline" style="width: 80%; align-self: center" [formGroup]="friendsFormGroup">
              <mat-label>Friend email</mat-label>
              <input matInput type="email" formControlName="newFriend">
            </mat-form-field>
          <button mat-stroked-button
                  style="flex: 1; margin-left: 10px; height: 50px; align-self: center; margin-top: -20px"
                  (click)="addFriend()">
          <mat-icon>person_add_alt_1</mat-icon>
        </button>
      </span>
      <div
        style="overflow-y:scroll; max-height: 300px; margin-bottom: -10px; margin-right: -20px; position: relative">
        <div *ngFor="let friend of friends; let i=index">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Friend email</mat-label>
            <input matInput [name]="'friend' + i" [ngModel]="friends[i].friendEmail">
            <!--                   (ngModelChange)="setDestination($event, i)">-->
            <button mat-icon-button matSuffix (click)="removeFriend(i)">
              <mat-icon>
                person_remove
              </mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <form>
        <div>
          <button mat-button matStepperPrevious
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 90px">Back
          </button>
          <button mat-button matStepperNext
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 20px">Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div style="overflow-y:scroll; max-height: 300px; margin-bottom: 10px">
        <div>
          <span><h3>Directions:</h3></span>
          <!--          <mat-list role="list">-->
          <!--            <mat-list-item role="listitem" *ngFor="let destination of destinationsForm.get('destinations')['controls']; let i=index" [ngSwitch]="i">-->
          <!--              {{destination.value}}-->
          <!--&lt;!&ndash;              <span>{{destination.value}}</span>&ndash;&gt;-->
          <!--            </mat-list-item>-->
          <!--          </mat-list>-->
          <div
            *ngFor="let destination of destinationsForm.get('destinations')['controls']; let i=index" [ngSwitch]="i"
            style="width: 100%">{{i + 1}} {{destination.value}}
          </div>
        </div>
        <div *ngIf="friends.length!==0">
          <span>Friends:</span>
          <div *ngFor="let friend of friends; let i=index" [ngSwitch]="i"
               style="width: 100%">{{i + 1}} {{friends[i].friendEmail}}
          </div>
        </div>
        <div style="margin-top: 10px">Notes:</div>
        <span>Car type is: {{carType.value}}. </span>
        <span *ngIf="hasChild">Children seat is required. </span>
        <span *ngIf="hasPet">Pet transport is required.</span>
        <div style="margin-top: 10px">
          <span>When:</span>
          <mat-radio-group [(ngModel)]="typeOfRequest" aria-label="Select an option">
            <mat-radio-button value="now">Now</mat-radio-button>
            <mat-radio-button value="reserve">Reserve</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="typeOfRequest==='reserve'" class="default-time-example">
            <input aria-label="default time" [ngxTimepicker]="defaultValue" [(ngModel)]="timeOfRide" readonly>
            <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
          </div>
        </div>
      </div>
      <span>
        <button id="request" mat-raised-button color="primary" style="width: 100%"
                (click)="requestRide()">Request ride</button>
        </span>
      <button mat-button matStepperPrevious
              style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 20px">Back
      </button>
    </mat-step>
  </mat-stepper>
  <div
    style="margin-top: auto; width: 100%; max-height: 150px; bottom: 0; padding-right: 40px; position: absolute; margin-bottom: 20px">
    <hr>
    <p *ngIf="estimations.time===undefined && estimations.price===undefined">Please enter all necessary data so that we
      can estimate price and time of your ride</p>
    <p *ngIf="estimations.time!==undefined"> Estimated time: {{estimations.time}}</p>
    <p *ngIf="estimations.price!==undefined"> Estimated price: {{estimations.price}}</p>
  </div>
</mat-card>
