<mat-card class="destination-input">
  <mat-stepper labelPosition="bottom" #stepper>
    <mat-step>
      <!--Step 1-->

      <ng-template matStepLabel>Direction</ng-template>
      <!--      <mat-card-header>-->
      <div>
        <span style="font-weight: 500; font-size: 16px; margin-top: 30px">Direction</span>
        <div class="header-right">
          <button mat-stroked-button style="margin-right: 5px" (click)="clearInputFields()">Clear all</button>
          <button mat-stroked-button>
            <mat-icon (click)="addNewDestination()">add_location_alt</mat-icon>
          </button>
        </div>
      </div>
      <!--      </mat-card-header>-->

      <div
        style="overflow-y:scroll; max-height: 300px; margin-top: 20px; margin-bottom: -10px; margin-right: -20px; position: relative">
        <mat-form-field appearance="outline" *ngFor="let destination of destinations; let i=index" [ngSwitch]="i"
                        style="width: 100%;">
          <mat-label *ngSwitchCase=0>From:</mat-label>
          <mat-label *ngSwitchCase=destinations.length-1>To:</mat-label>
          <mat-label *ngSwitchDefault>
            Stop {{i}}:
          </mat-label>
          <input matInput [name]="'dest' + i" [ngModel]="destinations[i].locationName"
                 (ngModelChange)="setDestination($event, i)">
          <button mat-icon-button matSuffix (click)="removeDestination(i)">
            <mat-icon>
              location_off
            </mat-icon>
          </button>
        </mat-form-field>

      </div>
      <div style="margin-top: 10px;">
        <button mat-raised-button color="primary" style="width: 100%" (click)="showEstimates()">Search</button>
        <p *ngIf="canOptimize" style="color: var(--dark); margin-top: 10px;">Optimize by <span
          style="font-weight: 500; cursor: pointer"
          (click)="optimizeByPrice()">price</span>
          or
          <span style="font-weight: 500; cursor: pointer" (click)="optimizeByPrice()">time</span>.
        </p>
      </div>
      <div>
        <button mat-button matStepperNext
                style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 20px">Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Car type">
      <div>
        <span style="font-weight: 500; font-size: 16px; margin-top: 30px">Car type</span>
      </div>
      <mat-form-field appearance="outline" style="width: 100%; padding-right:20px; padding-top: 10px">
        <mat-label>Choose car type</mat-label>
        <mat-select [ngModel]="carType" (ngModelChange)="changeCarType($event)">
          <mat-option *ngFor="let type of carTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <section class="example-section">
        <p>
          <mat-checkbox formControlName="children" color="primary">Children seats</mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="pets" color="primary">Pets allowed</mat-checkbox>
        </p>
      </section>
      <form>
        <div>
          <button mat-button matStepperPrevious
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 90px">Back
          </button>
          <button mat-button matStepperNext
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 20px">Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Friends">
      <div>
        <span style="font-weight: 500; font-size: 16px; margin-top: 30px">Add people to split fare</span>
      </div>
      <span style="display: flex">
          <div>
            <mat-form-field appearance="outline" style="flex: 4; align-self: center">
              <mat-label>Friend email</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <button mat-stroked-button
                  style="flex: 1; margin-left: 10px; height: 50px; align-self: center; margin-top: -20px">
          <mat-icon (click)="addFriend()">person_add_alt_1</mat-icon>
        </button>
      </span>
      <div
        style="overflow-y:scroll; max-height: 300px; margin-bottom: -10px; margin-right: -20px; position: relative">
        <div *ngFor="let friend of friends; let i=index">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Friend email</mat-label>
            <input matInput [name]="'dest' + i" [ngModel]="friends[i].friendEmail"
                   (ngModelChange)="setDestination($event, i)">
            <button mat-icon-button matSuffix (click)="removeFriend(i)">
              <mat-icon>
                person_remove
              </mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <form>
        <div>
          <button mat-button matStepperPrevious
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 90px">Back
          </button>
          <button mat-button matStepperNext
                  style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 20px">Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div style="overflow-y:scroll; max-height: 300px; margin-bottom: 10px">
        <div>
          <span>Directions:</span>
          <div appearance="outline" *ngFor="let destination of destinations; let i=index" [ngSwitch]="i"
               style="width: 100%">{{i + 1}} - {{destinations[i].locationName}}
          </div>
        </div>
        <div>
          <span>Friends:</span>
          <div appearance="outline" *ngFor="let friend of friends; let i=index" [ngSwitch]="i"
               style="width: 100%">{{i + 1}} - {{friends[i].friendEmail}}
          </div>
        </div>
        <div style="margin-top: 10px">Notes:</div>
        <span>Car type is: {{carType}}. </span>
        <span *ngIf="hasChild==true">Children seat is required. </span>
        <span *ngIf="hasPet==true">Pet transport is required.</span>
        <div style="margin-top: 10px">
        </div>
      </div>
      <span>
                  <button mat-raised-button color="primary" style="width: 49%"
                          (click)="requestRide()">Request ride</button>
                  <button mat-stroked-button color="primary" style="width: 49%; float: right"
                          (click)="reserveRide()">Reserve ride</button>
        </span>
      <button mat-button matStepperPrevious
              style="float: right; margin-top: -40px; position: absolute; bottom: 100px; right: 20px">Back
      </button>
      <!--            <span style="align-content: center">-->
      <!--                            <button mat-raised-button color="primary" style="width: 49%"-->
      <!--                                    (click)="requestRide()">Request ride</button>-->
      <!--                            <button mat-stroked-button color="primary" style="width: 49%; float: right"-->
      <!--                                    (click)="reserveRide()">Reserve ride</button>-->
      <!--                    </span>-->
    </mat-step>


  </mat-stepper>


  <div *ngIf="estimatesPresented==true"
       style="margin-top: auto; width: 100%; max-height: 150px; bottom: 0; padding-right: 40px; position: absolute; margin-bottom: 20px">
    <hr>
    <p> Estimated time: {{estimatedTime}}</p>
    <p> Estimated price: {{estimatedPrice}}</p>

    <!--    <span style="align-content: center">-->
    <!--                      <button mat-raised-button color="primary" style="width: 49%"-->
    <!--                              (click)="requestRide()">Request ride</button>-->
    <!--                      <button mat-stroked-button color="primary" style="width: 49%; float: right"-->
    <!--                              (click)="reserveRide()">Reserve ride</button>-->
    <!--              </span>-->
  </div>
</mat-card>

<!--<mat-card class="destination-input">-->
<!--  <mat-card-header>-->
<!--    <span style="padding: 8px; font-weight: 500; margin-left: -30px; font-size: 16px">Directions</span>-->
<!--    <div style="flex: 1">-->
<!--      <div class="header-right">-->
<!--        <button mat-stroked-button style="margin-right: 5px" (click)="clearInputFields()">Clear all</button>-->
<!--        <button mat-stroked-button>-->
<!--          <mat-icon (click)="addNewDestination()">add_location_alt</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content style="overflow-y:scroll; max-height: 300px; margin-top: 20px; margin-bottom: -10px">-->
<!--    <mat-form-field appearance="outline" *ngFor="let destination of destinations; let i=index" [ngSwitch]="i"-->
<!--                    style="width: 100%;">-->
<!--      <mat-label *ngSwitchCase=0>From:</mat-label>-->
<!--      <mat-label *ngSwitchCase=destinations.length-1>To:</mat-label>-->
<!--      <mat-label *ngSwitchDefault>-->
<!--        Stop {{i}}:-->
<!--      </mat-label>-->
<!--      <input matInput [name]="'dest' + i" [ngModel]="destinations[i].locationName"-->
<!--             (ngModelChange)="setDestination($event, i)">-->
<!--      <button mat-icon-button matSuffix (click)="removeDestination(i)">-->
<!--        <mat-icon>-->
<!--          location_off-->
<!--        </mat-icon>-->
<!--      </button>-->
<!--    </mat-form-field>-->
<!--  </mat-card-content>-->
<!--  <mat-form-field appearance="outline" style="width: 100%; padding-right:20px">-->
<!--    <mat-label>Choose one</mat-label>-->
<!--    <mat-select [ngModel]="carType" (ngModelChange)="changeCarType($event)">-->
<!--      <mat-option *ngFor="let type of carTypes" [value]="type">{{type}}</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <mat-card-footer style="padding: 15px">-->
<!--    <button mat-raised-button color="primary" style="width: 100%" (click)="showEstimates()">Search</button>-->
<!--    <div *ngIf="estimatesPresented==true">-->
<!--      <hr>-->
<!--      <p> Estimated time: {{estimatedTime}}</p>-->
<!--      <p> Estimated price: {{estimatedPrice}}</p>-->
<!--      <p *ngIf="canOptimize" style="color: var(&#45;&#45;dark)">Optimize by <span style="font-weight: 500; cursor: pointer"-->
<!--                                                                          (click)="optimizeByPrice()">price</span> or-->
<!--        <span style="font-weight: 500; cursor: pointer" (click)="optimizeByPrice()">time</span>.-->
<!--      </p>-->
<!--      <span style="align-content: center">-->
<!--              <button mat-raised-button color="primary" style="width: 49%" (click)="requestRide()">Request ride</button>-->
<!--              <button mat-stroked-button color="primary" style="width: 49%; float: right" (click)="reserveRide()">Reserve ride</button>-->
<!--      </span>-->
<!--    </div>-->
<!--  </mat-card-footer>-->
<!--</mat-card>-->
