<mat-card>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Enter your current password</mat-label>
      <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" [formControl]="currentPasswordFormControl" [(ngModel)]="currentPassword">
      <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideCurrentPassword">
        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="currentPasswordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your new password</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" [(ngModel)]="newPassword" [formControl]="newPasswordFormControl">
      <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="newPasswordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="newPasswordFormControl.hasError('minlength')  && !newPasswordFormControl.hasError('required')">
        Password has to be <strong>at least 6 characters long</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Re-enter your new password</mat-label>
      <input matInput [type]="hideReEnteredNewPassword ? 'password' : 'text'" [(ngModel)]="reEnteredNewPassword" [formControl]="reEnteredNewPasswordFormControl">
      <button mat-icon-button matSuffix (click)="hideReEnteredNewPassword = !hideReEnteredNewPassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideReEnteredNewPassword">
        <mat-icon>{{hideReEnteredNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="reEnteredNewPasswordFormControl.hasError('required')">
        Re-entered password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="newPassword !== reEnteredNewPassword">
        Passwords are not the same
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" style="width: 100%" (click)="changePassword()">Change password</button>
  </mat-card-content>
</mat-card>
