<div class="reason-container">
  <h2 mat-dialog-title>
    Enter reason for cancellation
  </h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px">
      <mat-label>Enter reason for cancellation</mat-label>
      <input matInput [(ngModel)]="reason">
    </mat-form-field>
    <div style="float: right">
      <button mat-raised-button mat-dialog-close="">Cancel</button>
      <button mat-raised-button color="primary" mat-dialog-close="" style="margin-left: 5px" (click)="cancelRide()">Decline ride</button>
    </div>
  </mat-dialog-content>
</div>
