<h1 mat-dialog-title>Create new Menu item</h1>
<div mat-dialog-content>
  <form class="example-container" [formGroup]="menuForm">
    <mat-form-field hintLabel="Max 20 characters" appearance="fill" class="form-field">
      <mat-label>Enter menu item name</mat-label>
      <input [formControlName]="'name'" matInput #name1 maxlength="20" required>
      <mat-hint align="end">{{name1.value.length || 0}}/20</mat-hint>
      <mat-error *ngIf="menuForm.hasError('required', 'nameFormControl')">This field is required</mat-error>
      <mat-error *ngIf="menuForm.hasError('minLength', 'nameFormControl')">Name needs at least 3 characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="Max 40 characters" appearance="fill" class="form-field">
      <mat-label>Enter menu item description</mat-label>
      <input [formControlName]="'description'" name="description" matInput #desc maxlength="40" required>
      <mat-hint align="end">{{desc.value.length || 0}}/40</mat-hint>
      <mat-error *ngIf="menuForm.hasError('required', 'descriptionFormControl')">This field is required</mat-error>
      <mat-error *ngIf="menuForm.hasError('minLength', 'descriptionFormControl')">Description needs at least 3
        characters
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" floatLabel="always" class="form-field">
      <mat-label>Price</mat-label>
      <input [formControlName]="'price'" matInput type="number" class="example-right-align" placeholder="0">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions style="margin-top: -15px; float: right">
  <button mat-button mat-dialog-close="">Cancel</button>
  <button mat-button mat-dialog-close="" [disabled]="!menuForm.valid" (click)="createMenuItem()">Create</button>
</div>
