<mat-card class="dashboard-card">
  <mat-card-header>Availability</mat-card-header>
  <mat-card-content>
    You have been working for <b>{{workingHours}}</b> today. Maximum number of working hours in one day is 8.
    <mat-divider style="padding: 10px"></mat-divider>
    <mat-card-subtitle>Toggle your availability for the ride.</mat-card-subtitle>
    <mat-slide-toggle color="primary" [(ngModel)]="isActive" (click)="toggleActivity()">I'm available for the ride.</mat-slide-toggle>
  </mat-card-content>
</mat-card>
