.map-container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 97;
}

.map-frame {
  height: 100%;
  width: 100%;
  min-height: 300px;
}

#map {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.details {
  color: gray;
  font-weight: 400;
  margin: 5px;
}

img.avatar {
  height: 30px;
  width: 30px;
}

div.mat-line {
  font-size: 14px;
}

.review-star {
  font-size: 12px;
  color: gray;
  margin-left: 10px;
}

.review-comment {
  margin-top: -10px;
  font-size: 14px;
  margin-left: 10px;
}

.review-star mat-icon {
  vertical-align: bottom;
}

.review-background {
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
  padding: 5px;
  margin-top: 5px;
}
