<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css"/>
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
</head>
<div class="container" style="padding: 10px">
  <h1>Details about ride</h1>
  <hr style="width: 100%; margin-top: -5px">
  <p>
    <span class="padding-details"><b>Start:</b> {{ride.actualStart}}</span>
    <span class="padding-details"><b>End:</b> {{ride.actualEnd}}</span>
    <span class="padding-details"><b>Total cost:</b> {{ride.totalPrice}}</span>
  </p>
  <div class="row">
    <div class="col-md-6">

      <h4 style="color: var(--gray); margin-top: 10px; margin-bottom: -10px">Route</h4>
      <mat-list>
        <mat-list-item *ngFor="let station of ride.checkPoints; let i = index">
          <div matListItemTitle>{{i + 1}}. {{station.name}}</div>
        </mat-list-item>
      </mat-list>

      <hr style="width: 100%">

      <h4 style="color: var(--gray)">Customers info</h4>
      <div style="margin-top: -10px !important;">
        <div *ngFor="let customer of ride.customers" style="margin-top: 5px">
          <div style="display: flex; align-items: center; width: 100%">
            <img class="avatar" [src]="profilePictures.get(customer.email)" alt="profilePicture"/>&nbsp;&nbsp;&nbsp;
            <div> {{customer.name}} {{customer.surname}}
              <span style="color: gray">{{customer.email}}</span>
            </div>
            <button *ngIf="hasReviews(customer.email)" (click)="toggleReviews(customer.email)" mat-icon-button
                    color="primary" style="margin-left: auto">
              <mat-icon>reviews</mat-icon>
            </button>
          </div>

          <div *ngIf="showReviews.get(customer.email)">
            <div class="review-background">
              <p class="review-star">{{driverReviews.get(customer.email)?.rating}}
                <mat-icon>star</mat-icon>
                for driver
              </p>
              <p class="review-comment">{{driverReviews.get(customer.email)?.comment}}</p>
            </div>
            <div class="review-background">
              <p class="review-star">{{driverReviews.get(customer.email)?.rating}}
                <mat-icon>star</mat-icon>
                for car
              </p>
              <p class="review-comment">{{carReviews.get(customer.email)?.comment}}</p>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 10px">
        <h4 style="color: var(--gray)">Driver info</h4>
        <div style="display: flex; margin-top: -5px !important; align-items: center; width: 100%">
          <img class="avatar" [src]="profilePictures.get(ride.driver.email)" alt="profilePicture"/>&nbsp;&nbsp;&nbsp;
          <div> {{ride.driver.name}} {{ride.driver.surname}}
            <span style="color: gray">{{ride.driver.email}}</span>
          </div>
          <button *ngIf="hasReviews(ride.driver.email)" (click)="toggleReviews(ride.driver.email)" mat-icon-button
                  color="primary" style="margin-left: auto">
            <mat-icon>reviews</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="map-container" style="max-height: 300px">
        <div class="map-frame">
          <div id="map">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
