<img src="assets/profile-background.jpg" class="profile-background" alt="profile">
<div style="margin-left: 20px">
  <div style="display: inline-flex; margin-top: -40px">
    <img class="avatar-medium" [src]='profileImageSrc' alt="avatar"/>
    <div>
      <p class="name">{{user.name}} {{user.surname}}</p>
      <p class="details">{{user.email}} | {{user.phoneNumber}} | {{user.city}}</p>
      <p class="details blocked" *ngIf="user.blocked">This user is blocked.</p>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
