.row-flex {
  display: flex;
  flex-flow: row wrap;
}

.col-flex-item {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}

.vertical-divider {
  border-right: 1px solid var(--light-gray);
}

.profile-picture {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 5%;
}

.name {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 15px;
  color: white;
}

.details {
  margin-left: 18px;
  margin-top: 20px;
  font-size: 16px;
  margin-right: 40px;
}
