<app-user-profile [userEmail]="userEmail"></app-user-profile>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Car data">
    <div style="padding: 20px">
      <p>
        <mat-form-field style="width: 49%; margin-right: 1%" appearance="outline">
          <mat-label>Car's mark name</mat-label>
          <input matInput [(ngModel)]="car.name" disabled>
        </mat-form-field>
        <mat-form-field style="width: 49%; margin-left: 1%" appearance="outline">
          <mat-label>Car's plates</mat-label>
          <input matInput [(ngModel)]="car.plates" disabled>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width: 100%" appearance="outline" floatLabel="always">
          <mat-label>Car type</mat-label>
          <input matInput [(ngModel)]="car.carType.name" disabled>
        </mat-form-field>
      </p>
      <p style="margin-top: -10px">
        <mat-checkbox color="primary" disabled [checked]="car.allowsBaby" [indeterminate]="false">Allows babies
        </mat-checkbox>
        &nbsp;&nbsp;
        <mat-checkbox color="primary" disabled [checked]="car.allowsPet" [indeterminate]="false">Allows pets
        </mat-checkbox>
      </p>
    </div>
  </mat-tab>
  <mat-tab *ngIf="userRole == 'ADMIN'" label="Comments">
    <app-admin-comments [userEmail]="userEmail"></app-admin-comments>
  </mat-tab>
</mat-tab-group>
