@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "bootstrap.min.css";
@import "font-awesome-4.7.0/css/font-awesome.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --yellow: #FFC107;
  --yellow-hover: #F0C000;
  --blue: #3f51b5;
  --dark: #272d2d;
  --red: #CF0A0A;
  --gray: #8c8c8c;
  --light-gray: #f4f4f4;
  --pink: #9C27B0;
  --green: #23CE6B;
  --white: #F6F8FF;
  --border-radius: 12px;
}

.dashboard-background {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.scrollable {
  overflow-y: scroll;
  height: 250px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.profile-picture {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 5%;
}

mat-card {
  padding: 30px;
  border-radius: 20px;
}

.avatar {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
}

.snack-bar {
  background: var(--dark);
  color: var(--yellow);
}

.dashboard-card {
  margin-bottom: 15px;
}
