.fb {
  background-color: #3B5998 !important;
  color: white !important;
  width: 100%;
}

.or {
  font-size: 15px;
  background-color: #fff;
  padding: 5px 10px;
  margin-top: 5px;
}

.hr-line {
  width: 100%;
  height: 12px;
  border-bottom: 1px solid #bebebe;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
