<img src="assets/taxi.jpg" class="dashboard-background" alt="dashboard-background"/>
<div class="container" style="margin-top: -20px">
  <div class="row">
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"
         class="col-md-6">
      <app-driver-availability [loggedUser]="loggedUser"></app-driver-availability>
    </div>
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"
         class="col-md-6">
      <mat-card class="dashboard-card">
        <mat-card-header>Activity log</mat-card-header>
        <app-activity-log></app-activity-log>
      </mat-card>
    </div>
  </div>
</div>
