<img src="assets/taxi.jpg" class="dashboard-background" alt="dashboard-background"/>
<div class="container" style="margin-top: -20px">
  <div class="row">
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"
         class="col-md-6">
<!--      <app-favorites></app-favorites>-->
    </div>
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"
         class="col-md-6">
<!--      <app-activity-log></app-activity-log>-->
    </div>
  </div>
</div>
