.link {
  text-decoration: none;
  color: #E91E63;
}

table {
  width: 100%;
}

.restaurant-card {
  width: 70%;
  padding: 40px;
  margin: 70px auto auto;
}

.aligned-with-icon{
  position: absolute;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 18px;
}

.subheader {
  margin-bottom: 10px;
}

.mat-column-name {
  width: 100px;
  text-align: left;
}

.mat-column-price {
  width: 40px;
  text-align: right;
}

.highlighted_row {
  background-color: #E91E63;
}
