<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css"/>
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
</head>
<app-sidenav></app-sidenav>
<div>
  <ng-container [ngSwitch]="userRole">
    <app-search-directions-unauthorised *ngSwitchCase="userRoles.UNAUTHORIZED"></app-search-directions-unauthorised>
    <app-search-directions-customer *ngSwitchCase="userRoles.CUSTOMER"
                                    (addPinsToMap)="getOutputVal($event)"></app-search-directions-customer>
  </ng-container>
  <div class="map-container">
    <div class="map-frame">
      <div id="map">
      </div>
    </div>
  </div>
</div>

