<mat-card class="destination-input">
  <mat-card-header>
    <mat-card-title>Directions</mat-card-title>
    <div style="flex: 1">
      <div class="header-right">
        <label style="cursor: pointer" (click)="clearInputFields()">Clear</label>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>From:</mat-label>
        <input matInput [(ngModel)]="fromValue">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>To:</mat-label>
        <input matInput [(ngModel)]="toValue">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" style="width: 100%; padding-right:20px">
      <mat-label>Choose one</mat-label>
      <mat-select [ngModel]="carType" (ngModelChange)="changeCarType($event)">
        <mat-option *ngFor="let type of carTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" style="width: 100%" (click)="showEstimates()">Search</button>
    </mat-card-actions>
    <div *ngIf="estimations!=undefined">
      <hr>
      <p>Estimated time: {{estimations.time}}</p>
      <p>Estimated price: {{estimations.price}}</p>
    </div>
  </mat-card-content>
</mat-card>
